{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}
        <div style="margin-top: 1%">
            <div class="post-entry">
                <div class="bg-image card shadow-1-strong"
                     style="background: radial-gradient(circle, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 100%); border: none;">
                    <div style="margin-left: 1%">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.body|slice:200 }}</p>
                        <button type="button" class="btn btn-primary">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock content %}