{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}
        <div style="margin-top: 1%">
            <div class="post-entry">
                <div class="bg-image card shadow-1-strong"
                     style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                    <div style="margin-left: 1%">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.body }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- Добавляем форму для ввода текста -->
    <div style="margin-top: 2%">
        <form method="post" id="sentiment-form">
            {% csrf_token %}
            <label for="text-input">Введите текст для анализа тональности:</label>
            <textarea name="text" id="text-input" rows="4" cols="50"></textarea>
            <button type="submit">Анализировать</button>
        </form>

        <!-- Поле для вывода результата -->
        <div id="result-container" style="margin-top: 1%"></div>
    </div>

{% endblock content %}