<!-- Модальное окно для авторизации -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Авторизация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Логин:</label>
                        <input type="text" name="username" id="id_username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="id_password">Пароль:</label>
                        <input type="password" name="password" id="id_password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-secondary d-block mx-auto mt-2" style="width: 70px;">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>