<!-- Модальное окно для регистрации -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Форма регистрации с использованием классов Bootstrap -->
                <form method="post" action="{% url 'register' %}" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Логин:</label>
                        <input type="text" name="username" id="id_username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email:</label>
                        <input type="email" name="email" id="id_email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="id_password1">Пароль:</label>
                        <input type="password" name="password1" id="id_password1" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="id_password2">Повторите пароль:</label>
                        <input type="password" name="password2" id="id_password2" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-secondary d-block mx-auto mt-2" style="width: 170px;">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>