{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid" style="padding: 0 11px; margin-top: 1%;">
    <h2>Обучение моделей предсказывания температуры</h2>
    <p>{{"Нажатие кнопки выбирает случайное значение random_state от 0 до 10000"}}</p>
    <p>Random_state:{{ Random_state }}</p>
    <p>MIN_MSE: {{MIN_MSE}} MAX_MSE: {{MAX_MSE}}</p>
    <p>MIN_R2: {{MIN_R2}} MAX_R2: {{MAX_R2}}</p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Обучить" name="learn"/>
    </form>
    </div>
{% endblock content %}
